<html ng-app>
<head>
  <title>Google Books</title>\
  <script>
    window.location.href = "/searchKeyword";
  </script>
</head>

<body>

<input ng-model="name" placeholder="Type world..."> Hello {{name}}


</body>
</html>