<!DOCTYPE html>
<html  ng-app="scotchTodo">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../css/member.css">
<link rel="stylesheet" type="text/css" href="../../css/register.css">
<link rel='stylesheet prefetch' href='../../css/materialize.min.css'>
<link rel='stylesheet prefetch' href='../../css/icon.css'>
<style>
        body {
            min-height:100%;
            background-color: #263238;
        }
        
        .text-center{
          text-align: center;
        }
        
        .space-bot{
          margin-bottom: 35px;
        }
        
        .space-top{
          margin-top: 35px;
        }
        
        /* Title */
        
        h1 {
            color: white;
            font-family: 'Roboto';
            text-transform: uppercase;
            font-weight: 900;
            font-size: 25px;
            text-align: center;
        }
        
        /* Sign Up */
        
        .container {
            max-width: 400px;
            max-height: 100px;
            margin-top: 10px;
        }
        
        .alert-danger{
        	text-align: center;
        }
        
        .signup-screen {
        	  padding: 20px;
            padding-bottom: 40px;
            border-radius: 5px;
            background-color: #2c3940;
            box-shadow: 0 1px 6px rgba(0,0,0,.3);
            color: white;
        }
        
        .btn{
          border-radius: 2px;
        }
        
        .cancel{
          background-color: #df405a;
        }
        
        .done{
          background-color: #5CAB7D;
        }
        
        .done:hover{
          background-color: #6dc793;
        }
        
        .done:focus{
          background-color: #6dc793;
        }
        
        .cancel:hover{
          background-color: #f0435f;
        }
        
        .cancel:focus{
          background-color: #f0435f;
        }
        
        .input-group {
            width:100%;
        }
        
        .input-group .ng-invalid {
            border: 2px solid #e74c3c;
            border-radius: 3px;
        }
        
        /* Error Box */
        
        .alert{
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 2px;
          border-color: #e85a71;
          background-color:  #e85a71;
          color: white;
          
        }
        
        .help-block {
            font-size: 12px;
            color: white
        }
    </style>

<body ng-controller="mainController">
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign up</h1>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" novalidate>
	            <div class="input-field col s6">
              <input id="user-name" name="user_name" ng-model="user_name" type="text" class="validate" required>
              <label for="user-name">User Name</label>
            </div>
    
             <div class="input-field col s6">
               <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
               <label for="password">Old password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your old password must be at least 6 characters.</p>
              <div class="input-field col s6">
               <input id="new_password" type="password" name="new_password" ng-model="new_password" ng-minlength='6' class="validate" required>
               <label for="new_password">New password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.new_password.$error.minlength || form.new_password.$invalid">Your new password must be at least 6 characters.</p>
              <div class="input-field col s6">
               <input id="new_password2" type="password" name="new_password2" ng-model="new_password2" ng-minlength='6' class="validate" pw-check='new_password' required>
               <label for="new_password2">Re-type new password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.new_password2.$error.minlength || form.new_password2.$invalid">Your re-type new password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done" ng-click="loginMember()">
               <i class="material-icons left">done</i> Done
               </button>
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
    <script src='../../js/jquery.min.js'></script>
    <script src='../../js/materialize.min.js'></script>
    <script src='../../js/angular.min.js'></script>
    <script>
/*
var myApp = angular.module("myApp", []);
myApp.controller("RegisterCtrl", function ($scope) {
 $http.post('/register')
        .success(function(data) {
            $scope.todos = data;
            console.log(data);
        })
        .error(function(data) {
            console.log('Error: ' + data);
        });

});
*/
var scotchTodo = angular.module('scotchTodo', []);

//function mainController($scope, $http) {
scotchTodo.controller("mainController", function ($scope, $http) {
    $scope.formData = {};
    console.log('test');
    // when submitting the add form, send the text to the node API
    /*
    $scope.test = function() {
        $http.post('http://localhost:8082/register', $scope.formData)
            .success(function(data) {
                $scope.formData = {}; // clear the form so our user is ready to enter another
                $scope.todos = data;
                console.log(data);
            })
            .error(function(error, status) {
                console.log('Error: ' + error);
            });
    }*/
    $scope.loginMember = function() {
        var passData = $.param({
            user_name: $scope.user_name,
            password: $scope.password,
            new_password: $scope.new_password,
        });
    
         $http({
            method : "POST",
            url : "/changePassword",
            data: passData,
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        }).then(function mySucces(response) {
            //$scope.myWelcome = response.data;
            console.log(response.data);
            if(response.data["status"] != 0){
                alert(response.data["message"]);
                return false;
            }
            //window.location.href = "/index";
            
        }, function myError(response) {
            //$scope.myWelcome = response.statusText;
            console.log(response);
        });
    }
   


});

</script>
</body>
</html>